body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.pageContent {
    max-width: 330px;
}
.stretchToFullWidth {
    width: 100%;
}
.removeMarginPaddingFromCol {
    margin: 0;
    padding: 0;
}

#caseSelectionArea {
    min-height: 60vh;
    max-height: 60vh;
    background-color: white;
    overflow: auto;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}