body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.pageContent {
    max-width: 330px;
}
.stretchToFullWidth {
    width: 100%;
}
.removeMarginPaddingFromCol {
    margin: 0;
    padding: 0;
}